/*body{
	background-image: url("images/fondo.jpg");
	background-color: #cccccc;
	background-repeat: no-repeat;

}
*/

.boton_personalizado{
	
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  .boton_personalizado:hover{
  	cursor: pointer;
    color: #1883ba;
    background-color: #ffffff;
  }
  

#templates{
	position: absolute;
	 top: 100%;
	  opacity: 0; 
	  margin: 0 auto;
}
#primera img{
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
#segunda img{
	border-radius: 50%;
	 width:150px;
	 height:150px;
}
#tercera img{
	border-radius: 50%;
	 width:150px;
	 height:150px;
}
#cuarta img{
	border-radius: 50%;
	 width:150px;
	 height:150px;
}
#contenido{
	padding-top: 10px;
	position: absolute;
	opacity: 0; 


}
