/*body{
	background-image: url("images/fondo.jpg");
	background-color: #cccccc;
	background-repeat: no-repeat;

}
*/
#templates{
	position: absolute;
	 top: 1000px;
	  opacity: 0; 
	  margin: 0 auto;
}
#primera img{
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
#segunda img{
	border-radius: 50%;
	 width:150px;
	 height:150px;
}
#tercera img{
	border-radius: 50%;
	 width:150px;
	 height:150px;
}
#cuarta img{
	border-radius: 50%;
	 width:150px;
	 height:150px;
}
